* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.zara-logo {
 margin-left: 200px;
}

.content {
   color: #fff;
   width: 100%;
   position: fixed;
   text-align: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  
}

.navbar {
   box-sizing: border-box;
   width: 320px;
}

.navbar .menu-items {
  display: flex;
  border: 2px solid white;
  background-color: white;
  text-align: left;
  
 
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.7rem;
  color: black;
  
}

.nav-container {
  display: block;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
  
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #4e4e4e;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -20px;
  padding-left: 50px;
  border-left: 1px solid black;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
} 

.woman-man-child {
 display: inline-flex;
 margin: 10px;
}

.first {
 border-bottom: 1px solid black;
 line-height: 21px;
}


.nav-content {
   position: relative;
   top: -50px;
   display: flex;
   justify-content: space-around;
}

.info {
   display: inline-flex;
   justify-content: center;
}

.info a {
   font-size: 15px;
   margin: 15px;
   text-decoration: none;
   color: rgb(153 153 153 / 100%);
}
 


main {
  position: relative;
  top: 200px;
  margin-left: 200px;
}

 .hero {
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
}

.input-group {
  width: 90%;
  max-width: 600px;
  position: relative;
}

#email-field {
  display: block;
  width: 180%;
  border: 0;
  border-bottom: 2px solid #dcdcdc;
  background: transparent;
  outline: none;
  font-size: 26px;
  padding: 5px 2px;
  position: relative;
  font-size: 15px;
}

#email-label {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 2px;
  color: #6e6e6e;
  columns: #777;
  font-size: 18px;
  transition: bottom 0.3s;
  font-size: 15px;
}

#email-error {
  position: absolute;
  top: 100%;
  left: 2px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(214, 75, 75);
}

#password-field {
  display: block;
  width: 180%;
  border: 0;
  border-bottom: 2px solid #dcdcdc;
  background: transparent;
  outline: none;
  font-size: 26px;
  padding: 5px 2px;
  position: relative;
  font-size: 15px;
  margin-top: 30px;
}

#password-label {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 2px;
  color: #6e6e6e;
  columns: #777;
  font-size: 18px;
  transition: bottom 0.3s;
  font-size: 15px;
}

#password-error {
  position: absolute;
  top: 100%;
  left: 2px;
  font-size: 13px;
  font-weight: 400px;
  color: rgb(214, 75, 75);
  width: 400px;
}


#name-field {
  display: block;
  width: 180%;
  border: 0;
  border-bottom: 2px solid #dcdcdc;
  background: transparent;
  outline: none;
  font-size: 26px;
  padding: 5px 2px;
  position: relative;
  font-size: 15px;
  margin-top: 68px;
}

#name-label {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 2px;
  color: #6e6e6e;
  columns: #777;
  font-size: 18px;
  transition: bottom 0.3s;
  font-size: 15px;
}

#name-error {
  position: absolute;
  top: 100%;
  left: 2px;
  font-size: 13px;
  font-weight: 400px;
  color: rgb(214, 75, 75);
  width: 400px;
}



#name-field {
  display: block;
  border: 0;
  border-bottom: 2px solid #dcdcdc;
  background: transparent;
  outline: none;
  font-size: 26px;
  padding: 5px 2px;
  position: relative;
  font-size: 15px;
  margin-top: 68px;
}

#name-label {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 2px;
  color: #6e6e6e;
  columns: #777;
  font-size: 18px;
  transition: bottom 0.3s;
  font-size: 15px;
}

#name-error {
  position: absolute;
  top: 100%;
  left: 2px;
  font-size: 13px;
  font-weight: 400px;
  color: rgb(214, 75, 75);
  width: 400px;
}


.checkboxes {
  position: absolute;
  top: 330px;
  width: 330px;
}

.checkbox2 {
  margin-top: 30px;
}

.check1 {
  margin-left: 16px;
}

.check2 {
  color: black;
}

.continue-button a .continue-button{
border: none;
height: 50px;
width: 30%;
margin-top: 50px;
background-color: white;
border: 1px solid black;
}

.create-account .create {
  background-color: white;
  border: 1px solid black;
  width: 120%;
  margin-top: 200px;
  height: 50px;
  cursor: pointer;
}

.create-account .create a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
}


@media (max-width:900px) {
  .main-header .positioning #repeat-label{
    font-size: 12px;
    flex-direction: column;
  }

  .header-all {

    flex-direction: column;
  }

  .info .help, .cart {
    display: none;
  }
}

@media (max-width:600px) {


  .checkboxes {
    width: 200px;
    margin-top: 10px;
  }

  .create-account {
    margin-top: 80px;
  }

  #password-field {
    width: 100%;
  }

  #name-field {
    width: 100%;
  }
}


@media (max-width:420px) {
  .checkboxes {
    width: 200px;
    margin-top: 10px;
  }

  .create-account {
    margin-top: 80px;
    width: 70%;
  }

  #password-field {
    width: 100%;
  }

  #name-field {
    width: 100%;
  }
}

@media (max-width:380px) {
  .checkboxes {
    width: 200px;
    margin-top: 20px;
  }

  .create-account {
    margin-top: 40px;
    width: 60%;
  }

  #password-field {
    width: 100%;
  }

  #name-field {
    width: 100%;
  }
}



@media (max-width:320px) {
  .checkboxes {
    width: 200px;
    margin-top: 20px;
  }

  .create-account {
    margin-top: 40px;
    width: 60%;
  }

  #password-field {
    width: 100%;
  }

  #name-field {
    width: 100%;
  }
}
